* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    gap: 50px;
}

.logo-img,
.navigation {
    z-index: 5;
}

.hero {
    position: relative;
    height: 95vh;
    background: url("./images/hero2.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.hero.small-hero {
    height: 65vh;
}

.hero.small-hero .hero-container {
    height: 65vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-container {
    display: flex;
    height: 95vh;
    width: 100%;
    color: #ffffff;
    opacity: 0.8;
    filter: brightness(35);
    text-transform: uppercase;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 25px;
}



h1 {
    font-family: 'Clash Display';
    font-weight: 500;
    font-size: calc(2rem + 5vw);
    letter-spacing: 10px;
}

.hero.small-hero h1 {
    font-size: calc(2rem + 3vw);
    font-family: 'Ubuntu';
    letter-spacing: normal;
}

@media (max-width: 280px) {
    h1 {
        font-size: calc(1.5rem + 5vw);
    }
}

h2 {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: calc(1rem + 3vw);
    text-transform: uppercase;
}


li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 400;
}

td,
th,
h3 {
    font-family: 'Montserrat';
}

h3 {
    font-size: 16px;
    font-weight: 600;
    color: #906649;
}

label,
input,
textarea {
    font-family: 'Montserrat';
    font-size: 16px;
}

th {
    padding-bottom: 8px;
    text-align: left;
}

th:nth-of-type(n+1) {
    padding-top: 15px;
}

.menu-list li {
    list-style: none;
    display: inline-block;
}

.menu-list li:hover a {
    text-decoration: underline;
    color: white;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu-list li a.active {
    font-weight: bold;

}

.toggle-btn .menu-burger {
    color: white;
    cursor: pointer;
    display: none;
}

/* Responsive menu */

.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 75px;
    width: 300px;
    height: 0;
    background: rgba(255 255 255 / 0.2);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@supports (backdrop-filter: blur(15px)) {
    .dropdown-menu {
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

@supports not (backdrop-filter: blur(15px)) {
    .dropdown-menu {
        background-color: rgba(255, 255, 255, 1);

    }

}

@supports (backdrop-filter: blur(15px)) {
    .dropdown-menu li a {
        color: white;
    }
}

@supports not (backdrop-filter: blur(15px)) {
    .dropdown-menu li a {
        color: #906649;

        font-weight: 600;
    }
}



.dropdown-menu.open {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu li {
    list-style: none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.dropdown-menu li:hover a {
    text-decoration: underline;

}

@media (max-width: 650px) {
    .menu-list {
        display: none;
    }

    .toggle-btn .menu-burger {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 476px) {
    .dropdown-menu {
        left: 1rem;
        right: 1rem;
        width: unset;
    }

    .logo-img img {
        width: 50px;

    }
}

main h2 {
    color: #906649;
    font-family: 'Clash Display';
    font-weight: 500;
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 15px;

}

.about-us {
    padding-top: 50px;
    padding-bottom: 70px;
}

.about-us-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
}

.about-us-wrapper img {
    width: 50%;
    object-fit: cover;
}

@media (max-width:975px) {

    .about-us-wrapper {
        flex-direction: column-reverse;
    }

    .about-us-wrapper img {
        width: 100%;
        height: 100%;
    }
}


p {
    font-family: 'Montserrat';
    margin-bottom: 15px;
    line-height: 1.3;
}

.products {
    position: relative;
    background-color: rgb(252, 250, 249);
    padding-top: 90px;
    padding-bottom: 90px;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.learn-more-btn {
    background-color: #906649;
    display: flex;
    gap: 8px;
    align-items: baseline;
    width: fit-content;
    font-family: 'Clash Display';
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid #906649;
    transition: 0.5s;
}

.learn-more-btn:hover {

    color: #906649;
    background-color: transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.learn-more-btn path {
    fill: #FFFFFF;
}

.learn-more-btn:hover path {
    fill: #906649;
}

.transport-wrapper {
    text-align: center;
    margin-bottom: 15px;
}

.transport {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}


footer {
    background-image: url("./images/footer-img.png");
    background-position: center;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.footer-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 30px;
}

.footer-column.left-column {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.footer-column .fsc-logo {
    position: relative;
    top: 25px;
    opacity: 0.8;
}

.email-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.copyright {
    font-size: 14px;
}



a {
    font-family: 'Clash Display';
    text-decoration: none;
    color: #906649;
}

footer a,
footer p,
footer span {
    font-family: "Montserrat";
    color: #906649;
    margin-bottom: 0;
    font-size: 14px;
}


.contact-row {
    display: flex;
    align-items: center;

    column-gap: 8px;
}

.contact-row:first-of-type {
    margin-top: 15px;
}

footer {

    position: relative;
}

/* Slider */

.slider-container {
    max-width: 1450px;
    width: 100%;
    margin-bottom: 30px;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    background: #906649;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    transform: translateY(-50%);
    transition: 0.5s;
}

.slider-wrapper .slide-button:hover {
    background: rgb(247 238 231);

    color: #906649;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 400px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 8px;
    transition: 0.5s;
}

.slider-wrapper .image-list .image-link:hover .image-item {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.slider-wrapper .image-list .image-link {
    text-transform: uppercase;
}

.slider-container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;

}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #906649;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 6px;
    top: -1px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Style for mobile slider  */

@media (max-width: 860px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 280px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}

/* Products page */

.gallery-trigger:hover {
    cursor: zoom-in;
}

.row {
    display: flex;
    gap: 30px;
    align-items: center;
}

.calibrated-wood .row,
.finishing-wood .row,
.terrace-wood .row {
    flex-direction: row;
}

.construction-wood .row,
.impregnated-wood .row {
    flex-direction: row-reverse;

}

.row img {
    width: 100%;
}

#app {
    width: 50%;
}

.row .description {
    width: 50%;
}

.calibrated-wood {
    padding-top: 70px;
    padding-bottom: 20px;
}

.terrace-wood {
    padding-top: 20px;
    padding-bottom: 70px;
}

.finishing-wood {
    padding-top: 20px;
    padding-bottom: 20px;
}

.construction-wood,
.impregnated-wood {
    background-color: rgb(252, 250, 249);
    padding-top: 90px;
    padding-bottom: 90px;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

/* Contacts page */

.contact-us {
    padding-top: 90px;
    padding-bottom: 90px;
}

.contact-us-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.contact-form {
    width: calc((100% - 30px) / 2)
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 8px 15px;
    border: none;
    border-bottom: #906649 solid 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

textarea {
    padding: 8px 15px;
    border: #906649 solid 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.send-form-btn {
    font-size: 16px;
    background-color: #906649;
    text-align: center;
    width: 100%;
    font-family: 'Clash Display';
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid #906649;
    transition: 0.5s;
}

.send-form-btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #906649;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.contact-info {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-info span,
.contact-info span a,
.emails a {
    color: black;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 16px;
}

.contact-info span a:hover,
.emails a:hover {
    color: #906649;
    text-decoration: underline;
}

.contact-info iframe {
    width: 100%;
}

.phones {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contact-info .contact-row {
    margin-top: 0;
}

.contact-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* Mobile */

@media (max-width: 975px) {

    .hero-container {
        justify-content: center;
    }

    .contact-us-wrapper {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
        max-width: 600px;
        align-self: center;
    }

    .contact-info {
        width: 100%;
    }

    .contact-info iframe {
        height: 300px;
    }
}



@media (max-width:760px) {
    .hero-content h1 {
        letter-spacing: 5px;
    }
}

@media (max-width:650px) {

    .calibrated-wood .row,
    .finishing-wood .row,
    .terrace-wood .row,
    .construction-wood .row,
    .impregnated-wood .row {
        flex-direction: column-reverse;
    }

    #app {
        width: 100%;
    }

    .row .description {
        width: 100%;
    }

}

@media (max-width:530px) {
    main h2 {
        font-size: 32px;
    }

    p,
    th,
    td {
        font-size: 14px;
    }


    .hero-content {
        gap: 40px;

    }

    .hero-content h1 {
        letter-spacing: 3px;
    }

    div.hero-content svg {
        margin-top: 35px;
    }
}

@media (max-width: 476px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }


    .footer-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        gap: 30px;
    }

    .footer-column.left-column img {
        align-self: center;

    }

    .footer-column .fsc-logo {
        position: relative;
        top: 0;

    }


    #app .f-carousel__viewport,
    #app .is-selected img {
        height: 300px;
    }

    th:nth-of-type(n+1) {
        padding-top: 8px;
    }

    .about-us {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .products {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .transport {
        padding-top: 25px;
    }
}

@media (max-width: 390px),
(orientation: portrait) {
    h1 {
        font-size: calc(1.5rem + 5vw);
    }

    .hero,
    .hero-container {
        height: 75vh;
    }

}

@media (max-width: 960px) and (orientation: landscape) {

    p,
    td,
    th {
        font-size: 14px;
    }

    .f-carousel img {
        height: 250px;
    }

    .logo-img img {
        width: 50px;
        height: 50px;
    }

}



@media (max-width: 290px) {

    .hero-content {
        gap: 20px;
    }

    .hero-content h1 {
        letter-spacing: 2px;
    }


    div.hero-content svg {
        width: 16px;
    }
}

@media (max-height:600px) {

    .hero-content {
        gap: 20px;
    }

    .hero-content h1 {
        letter-spacing: 6px;
    }

}

@media (max-height:430px) {


    .hero-content {
        gap: 15px;
    }

    .hero-content h1 {

        letter-spacing: 4px;
    }

}

@media (max-height:280px) {
    .logo-img img {
        width: 50px;
    }

    .hero-content {
        gap: 8px;
    }

    div.hero-content svg {
        width: 16px;
    }

    .hero-content h1 {
        letter-spacing: 2px;
    }
}

.fade-in-left {
    -webkit-animation: fade-in-left 1.5s ease-in-out both;
    animation: fade-in-left 1.5s ease-in-out both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


.fade-in-right {
    -webkit-animation: fade-in-right 1.5s ease-in-out both;
    animation: fade-in-right 1.5s ease-in-out both;
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s ease-in-out both;
    animation: focus-in-expand 0.8s ease-in-out both;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}